.container{
  width: 900px;
  margin: 0 auto;
}

h1{
  font-size: 2em;
  text-align: center;
  padding: 20px 0;
}

.templates-list-table{
  border: 1px solid #cccccc;
  width: 50%;
  margin: 0 auto;
}

.templates-list-table th{
  font-weight: bold;
}

.templates-list-table th:first-child{
  text-align: left;
}

.templates-list-table td, .templates-list-table th{
  padding: 10px;
  border: 1px solid #cccccc;
}

.templates-list-table td:first-child{
  cursor: pointer;
}

.templates-list-table td:last-child{
  text-align: center;
}

.back-to-list{
  padding: 10px 0;
}

.back-to-list span{
  cursor: pointer;
  font-weight: bold;
}

.template-show{
  padding: 10px;
  border: 1px solid #cccccc;
}

.template{
  border: 1px solid #cccccc;
}

.editable{
  padding: 10px;
  cursor: pointer;
}

.grey{
  background-color: #cccccc;
}

.editItem{
  display: none;
  margin: 10px 0;
  border: 1px solid #cccccc;
  padding: 5px;
}

.editItem h4{
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

.editItem button{
  margin-right: 5px;
}

.editInput{
  border: 1px solid #cccccc;
  padding: 3px;
  display: inline-block;
  margin: 5px 0;
}

.editSelect{
  margin: 5px 0 10px 0;
}
