<div class="container">

  <h1>{{ title }}</h1>

  <div class="template-list" *ngIf="!showTemplate">
    <table class="templates-list-table">
      <tr>
        <th>Name</th>
        <th>Edited date</th>
      </tr>
      <tr *ngFor="let template of templates">
        <td (click)="onShowTemplate(template)" data-id="{{template.id}}">{{ template.name }}</td>
        <td>
          {{ template.modified | date: 'dd.MM.yyyy' }}<br>
          {{ template.modified | date: 'HH:mm:ss' }}
        </td>
      </tr>
    </table>
  </div>

  <div class="template-wrap" *ngIf="showTemplate">
    <div class="back-to-list">
      <span (click)="onBackToList()">Back to list</span>
    </div>
    <html-outlet [html]="html"></html-outlet>
  </div>

</div>
